/* Variables */

$cart-bg: #fff;
$cart-font-size: inherit;
$cart-line-height: 1.3rem;
$cart-color: #444;

/* Styles */

.cart {
  display: flex;
  flex-direction: column;

  color: $cart-color;
  background-color: $cart-bg;

  font-size: $cart-font-size;
  line-height: $cart-line-height;

  align-items: center;

  .cart-product {
    position: relative;
    display: flex;
    flex-direction: row;

    width: 90%;

    justify-content: center;
    align-items: center;

    /* Small devices (tablets, 768px and up) */
    @media (min-width: 786px) {
      width: 60%;
    }

    /* Medium devices (desktops, 992px and up) */
    @media (min-width: 992px) {
      width: 50%;
    }

    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {
      width: 40%;
    }
  }

  .product-image {
    box-sizing: border-box;
    width: 100px;
    padding: .5rem;

    img {
      width: 100%;
    };
  }

  .product-image,
  .product-title,
  .count,
  .price,
  .products-price {
    flex-basis: 150px;
    flex-grow: 1;
  }

  .price,
  .products-price {
    text-align: center;
  }

  .count {
    display: flex;

    justify-content: center;
    align-items: center;

    .count-down,
    .count-up {
      width: 2rem;
      height: 2rem;
      margin: .5rem;

      color: white;
      border: none;
      border-radius: 3px;
      outline: none;
      background-color: $cart-color;

      font-size: 1rem;
      font-weight: bold;
      line-height: 1.3rem;
      cursor: pointer;

      &:hover {
        background-color: lighten(#444, 10%);
      }
    }

    .count-preview {
      width: 2rem;
      height: 2rem;
      line-height: 2rem;
      font-size: 1rem;
      background-color: $cart-bg;
      outline: none;
      border: none;
      color: $cart-color;
      text-align: center;
    }

  }

  .total-price {
    text-align: right;
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: bold;
    color: green;
  }

  .delete {
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 1rem;
    left: -1.5rem;
    cursor: pointer;

    svg {
      width: 1rem;
      height: 1rem;
      path {
        fill: #444;
      }
    }
  }

}
