/* Variables */

$registrate-bg: #fff;
$registrate-font-color: #444;
$registrate-font-size: inherit;
$registrate-line-height: 1.3rem;

/* Styles */

.registrate-wrapper {
  position: absolute;
  z-index: 2;
  top: 20%;
  right: 1.5rem;
  left: 1.5rem;

  box-sizing: border-box;
  padding: 1rem;

  color: $registrate-font-color;
  background-color: $registrate-bg;
  box-shadow: 0 0 0 1px $registrate-font-color, 0 0 6px 0 $registrate-font-color;

  /* Small devices (tablets, 768px and up) */
  @media (min-width: 786px) {
    top: 20%;
    left: 30%;

    width: 40%;
  }

  /* Medium devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    top: 20%;
    left: 35%;

    width: 30%;
  }

  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    top: 20%;
    left: 40%;

    width: 20%;
  }
}

.registrate-form {
  display: flex;
  flex-direction: column;

  align-items: center;

  label {
    position: relative;

    display: block;

    width: 100%;
    margin-bottom: 10px;
  }

  .label-title {
    display: none;
  }

  input[type="text"],
  input[type="password"] {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem 2rem 0.5rem 0.5rem;

    border: none;
    border-bottom: 1px solid $registrate-font-color;
    outline: none;

    font-size: inherit;
    line-height: inherit;

    &:focus + svg path{
      fill: DeepSkyBlue;
    }
  }

  input[type="submit"] {
    padding: .5rem;

    cursor: pointer;

    color: $registrate-font-color;
    border: none;
    outline: none;
    background: $registrate-bg;

    font-size: inherit;
    line-height: inherit;

    &:hover {
      color: $registrate-bg;
      border-radius: 5px;
      background-color: $registrate-font-color;
    }
  }

  svg {
    position: absolute;
    right: 0px;
    bottom: 0.5rem;

    width: 1.5rem;

    path {
      transition: .5s fill;

      fill: $registrate-font-color;
    }
  }

  .modal-wrapper-error-message {
    color: LightCoral;
  }
}
