/* Variables */

$logo-font-color: #444;
$logo-font-size: 1.8rem;
$logo-line-height: 2.1rem;
$logo-font-family: 'Aref Ruqaa', Arial, serif;

/* Styles */

.header {
  position: fixed;
  z-index: 2;
  top: 0;

  display: flex;

  box-sizing: border-box;
  width: 100%;
  padding: 0 15px;

  box-shadow: 0 0 0 1px #444, 0 1px 2px 0 #444;

  justify-content: space-between;
  align-items: center;

  .logo {
    padding: 3px 10px 10px;

    color: $logo-font-color;
    text-decoration: none;

    font-family: $logo-font-family;
    font-size: $logo-font-size;
    line-height: $logo-line-height;

    flex-grow: 1;
    flex-basis: 50%;
  }
}
