@import '../node_modules/normalize.css/normalize.css';

/* Variables */

$font-size: 16px;
$line-heiht: 1.3rem;
$bg: #fff;
$font-family: 'PT Sans', Arial, sans-serif;

body {
  margin: 0;
  padding: 0;
  padding-top: 4rem;

  background-color: $bg;

  font-family: $font-family;
  font-size: $font-size;
  font-weight: normal;
  line-height: $line-heiht;
}

/* Import components */
@import 'market/components/header/header';
@import 'market/components/user/user';

/* Import pages */
@import 'market/pages/login/login';
@import 'market/pages/registrate/registrate';
